h1{
    color:palevioletred;
}
img{
    width: 400px;
}
#trirdDive {
   height: 600px;
    width: 500px;
   background-color:rgb(25, 90, 90);

}
#spanId {
    font-size: 18px;
    margin: 50px;

}
.divClass{
    padding: 50px;
    border: 2px solid aqua;
}
